*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}


body{
	background: #eeeeee;
}


.form{
margin: 20px auto;
width: 180px;
min-height: 645px;
padding-top: 4px;  /*Почему нельзя обратиться к form__word1 через margin top?*/
padding-left: 7px;
padding-bottom: 13px;
background: white;
-webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
}


.form__word2,
.form__word3,
.form__word4,
.form__word5,
.form__word6,
.form__word7,
.form__word8{
margin-top: 15px;
}


.form__1,
.form__2{
width: 122px;
height: 19px;
}


.form__list{
width: 120px;
height: 163px; /*Почему в рамку не влазит весь улит, хотя в фотошопе рамка померяна?*/
border: 1px solid black;
list-style: none;
font-size: 13px;
}


.form__span{
	font-weight: bold;
}


.li{
	margin-left: 18px;
}

/* 
.form__3{
	display: block;
	width: 76px;  Почему размеры этой формы не изменяются, хотя изменяются размеры формы нейм/имейл?
	height: 17px;
}
 */


.form__4{
max-width: 162px;
max-height: 52px;
}


.form__5{
	margin-top: 20px;
}