*{
margin: 0;
padding: 0;
}


.table{
border: 0px;
margin: 50px auto;
width: 500px;
height: 541px;
border-collapse: collapse;	
}


td{
border: 8px solid black;

}


.table__1{
	background: #fffa69;
}


.table__2{
	background:  #ff5b2d; 
}


.table__3{
	background: #fffa69;
}


.table__4{
background: #292d2b;
}


.table__5{
	background: #074481;
}


.table__6{
	background: #fffa69;
}


.table__7{
	background: #292d2b;
}